#app {
   text-align: center;
}


#input {
    height: 30px; font-size: 20px;
}

#ons-btn{
    margin-bottom: 6.5px;
}


#img{
    width: 60%; display: block; margin: auto; margin-top: 10px;
}


#url{
    font-size: xx-small;
}